
{% load static %}

{% include "layout/header.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  
  
</head>  


<body style="background-color: #fdfcfc03;">
 <div class="main-content">
        <section class="section">
         
          <div class="section-body">
            <div class="row">
              <div class="col-lg-2" > 
                 </div>
				<div class="col-lg-7">
					<div class="card">
						<div class="card-body">
							 <ul class="breadcrumb breadcrumb-style "style="background: #f3f3f3;">
								<li class="breadcrumb-item">
								  <h5 class="page-title m-b-0">Add Employee Details</h5>
								</li>
								<li class="breadcrumb-item">
								  <a href="/employee_view/">
									<i class="fas fa-home"></i></a>
								</li>
								</ul> 

                             <form action="" method="get" id='new_user_form' style="margin: 25 px auto"  ; >
                                
                                
								<label for="name">Employee_Name</label>
								<input type="text" id="name" class="form-control"  value="{{obj2.Employee_Name}}" name="name" tabindex="1"  required autofocus  placeholder="employee_name" > <br>
								
								<label for="email">Email</label>
								<input type="email" id="email" class="form-control" value="{{obj2.Email}}" name="email" tabindex="1" placeholder="Email"><br>

                <input type="hidden" value="{{obj2.id}}" id="objId">
								<label for="designation">Designation:</label>
								<input type="text" id="designation" class="form-control" value="{{obj2.Designation}}" name="designation" tabindex="1"  required autofocus  placeholder="designation" > <br>

								<label for="doj">DOJ:</label>
								<input type="date" id="doj" class="form-control" value="{{obj2.DOJ|date:'Y-m-d'}}" name="doj" tabindex="1"  required autofocus  placeholder="YYYY-MM-DD format"> <br>
								
                <div> 
                  {% if type == "add" %}              
                <center>
                  <button type="button" type="submit" class="btn btn-success" value="save" onclick="add()" >Save </button>
                </center>
                {% else %}
                <center>
                  <button type="button" type="submit" class="btn btn-success" value="save" onclick="modify()" >modify </button>
                </center>
                {% endif %}
                </div>
						
              </br>
          <!-- <div> -->
            <!-- <a href="#" class="txt1"> -->
              <!-- Add details -->
            <!-- </a> -->
              <!-- </div> -->

       </div>
   </div>
    
</div>


  </div>
</div>		
</body>			 
<script>


$(document).ready(function(){
$(document).bind('keypress', function(e) {
if(e.keyCode==13){
$('#save_button').trigger('click');
}
});
})


function add(){
    var name=$('#name').val()
    var email=$('#email').val()
    var designation=$('#designation').val()
    var doj=$('#doj').val()


    if(name == ""){
		
      swal("Please Enter Name", {
        icon: "info",
        button: "Ok",
        closeOnClickOutside: false,     
        }).then(function() {
          
      });
    
    }
    
    
    else if(email == ""){
    
    swal("Please Enter Email.", {
        icon: "info",
        button: "Ok",
        closeOnClickOutside: false,     
        }).then(function() {
          
      });
    
    }
    else if(designation == ""){
    
    swal("Please Enter Designation.", {
        icon: "info",
        button: "Ok",
        closeOnClickOutside: false,     
        }).then(function() {
          
      });
    
    }
    
    else if(doj == ""){
    
    swal("Please Enter doj.", {
        icon: "info",
        button: "Ok",
        closeOnClickOutside: false,     
        }).then(function() {
          
      });
    
    }
    
    
    else{
   
    
    console.log(name)
    console.log(email)
    console.log(designation)
    console.log(doj)
    

 
        
        $.ajax({
            method : "POST",
            url : "/details/",
            data : {
              'name':name,
              'email':email,
              'designation':designation,
              'doj':doj,
                
               
            
            },
            success : function(response){
               
                if (response == "success"){
            
                    alert("Data store")
 
                    location.href = '/employee_view/'
 
                }
                
                else{
                
                    alert("User already exixts")
                
                }
 
            
            }
 
    });
 }
}

 </script>

 <script>
  function modify()
  {
    var name=$('#name').val()
    var email=$('#email').val()
    var designation=$('#designation').val()
    var doj=$('#doj').val()
    var objId =$("#objId").val()


   
    $.ajax({
      method: 'POST',
      url: '/modify/',
      data: {
        'name':name,
        'email': email,
        'designation':designation,
        'doj': doj,
        'objId': objId,
        
      },
      success: function (response) {
        if (response == 'success') {
          location.href = '/employee_view/'
        }
        else {
          alert("error")

        }
      }

    })
  }

 
 </script>
{% include "layout/footer.html" %}
</html>