<style>
    .btn-group-vertical>.btn,
    .btn-group>.btn {
      position: relative;
      -ms-flex: 1 1 auto;
      -webkit-box-flex: 1;
      flex: 1 1 auto;
      width: 140px;
      margin-bottom: -25px;
    }
  </style>
  
  {% load static %}

  {% include "layout/header.html" %}
    <!-- Main Content -->
  <div class="main-content">
    <section class="section">
  
      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <ul class="breadcrumb breadcrumb-style" style="margin-bottom: 0px;;">
                      <li class="breadcrumb-item">
                        <h4 class="page-title m-b-0">Employee Details</h4>
                      </li>
                      <li class="breadcrumb-item">
  
  
                        <!-- <a href="/dashboard/">
                          <button type="button" class="btn btn-primary btn-sm">Back</button></a> -->
  
  
  
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6 pull-right" style="margin-top: 7px;">
  
                    <a href="/addup/" class="btn btn-icon btn-primary pull-right"> Add New employee</a>
                  </div>
                </div>
                <hr>
                <br>
  
  
                <div class="row">
                  <div class="col-12">
                    <div class="row">
  
  
                      <div class="col-md-3">
                        <div class="form-group">
                          <label>Start Date <span style="color:red">*</span>:</label>
                          <div class="input-group">
                            <input type="date" class="form-control" value="{{start_day|date:'Y-m-d'}}" id="start_date">
                          </div>
                        </div>
                      </div>
  
  
                      <div class="col-md-3">
                        <div class="form-group">
                          <label>End Date <span style="color:red">*</span>:</label>
                          <div class="input-group">
                            <input type="date" class="form-control" value="{{end_date|date:'Y-m-d'}}" id="end_date">
                          </div>
                        </div>
                      </div>
  
  
   
  
  
  
  
  

                      <div class="col-md-1">
                        <div class="form-group">
                          <div class="buttons">
                            <a type="button" class="btn btn-primary btn-sm" style="margin-top: 45%;" onclick="search_filter()">search</a>
                          </div>
                        </div>
                      </div> 
  
  
                    </div>
                  </div>
                </div>
  
  
  
  
  
                <div id="table_div">
  
  
                  <div class="table-responsive containertable">
                    <table class="table table-hover" id="view_table">
                      <thead>
                        <tr>
                          <th class="text-center"> Id </th>
  
                          <th>Name</th>
                          <th>Designation</th>
                          <th>Email</th>
                          <th>DOJ</th>
  
                          <th>Action</th>
  
  
                        </tr>
                      </thead>
                      <tbody>
  
                        {% for i in obj2 %}
  
                        <tr>
                          <th scope="row">{{i.id}}</th>
                          <td>{{i.Employee_Name}}</td>
                          <td>{{i.Designation}}</td>
                          <td>{{i.Email}}</td>
                          <td>{{i.DOJ}}</td>
  
  
  
                          <td>
                            <!-- <a class="btn btn-outline-primary" href="/edit_details/{{i.id}}"><i class=" fas fa fa-pencil"
                                aria-hidden="true"></i></a> -->

                                <a style="background-color:blue;" class="btn btn-outline-primary custom-btn" href="/edit_details/{{i.id}}">
                                  <i style="color:aliceblue;"  class="fas fa-edit" aria-hidden="true"></i>
                              </a>
                              
                              


                                
                            <a type="button" class="btn btn-outline-dark" onclick="delete_employee('{{i.id}}')"><i
                                class=" fas fa-trash"></i></a>
                          </td>
                          
                        </tr>
  
                        {% endfor %}
  
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  </div>
  </div>
  
  
  <!-- Modal 
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" data-keyboard="false" data-backdrop="static">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="formModal">Add Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
               
                      <div class="form-group">
                        <label>Name<span style = "color:red">*</span>:</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fas fa-user"></i>
                            </div>
                          </div>
                          <input type="text" class="form-control" placeholder=" Name" id = "name">
                        </div>
                      </div>
            
            <div class="form-group">
                        <label>Designation<span style = "color:red">*</span>:</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fas fa-user"></i>
                            </div>
                          </div>
                          <input type="text" class="form-control" placeholder="Designation" id = "designation">
                        </div>
            </div>
            
             <div class="form-group">
               <label>Email<span style = "color:red">*</span>:</label>
                        <div class="input-group">
                          
                <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fas fa-home"></i>
                            </div>
                          </div>
               <option value = "" selected hidden>Email</option>
  
  
               <div class="form-group">
                <label>DOJ<span style = "color:red">*</span>:</label>
                         <div class="input-group">
                           
                 <div class="input-group-prepend">
                             <div class="input-group-text">
                               <i class="fas fa-home"></i>
                             </div>
                           </div>
                <option value = "" selected hidden>Email</option>
  -->
  
  {% for i in obj %}
  <option value="{{i.id}}">}</option>
  {% endfor %}
  </select>
  
  
  
  
  <!------------------------------------------------------------------------------------------->
  
  <div class="modal fade" id="exampleModal_2" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true"
    data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formModal">Update Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <input type="hidden" id="employee_id">
  
        <div class="modal-body">
  
          <div class="form-group">
            <label>Employee Name<span style="color:red">*</span>:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-user"></i>
                </div>
              </div>
              <input type="text" class="form-control"  placeholder="Employee Name" id="name_employee">
            </div>
          </div>
  
          <div class="form-group">
            <label>Employee Code<span style="color:red">*</span>:</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-user"></i>
                </div>
              </div>
              <input type="text" class="form-control" placeholder="Employee Code" id="code_employee">
            </div>
          </div>
  
          <div class="form-group">
            <label>Store name<span style="color:red">*</span>:</label>
            <div class="input-group">
  
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-home"></i>
                </div>
              </div>
  
              <select name="cars" id="branch_name" class="form-control" option selected="selected">
  
                {% for i in obj %}
                <option value="{{i.id}}">{{i.branch_name}}</option>
                {% endfor %}
  
              </select>
  
            </div>
          </div>
  
          <center><button type="button" onclick="update_emplyee()"
              class="btn btn-primary m-t-15 waves-effect">Update</button>
            <center>
  
        </div>
      </div>
    </div>
  </div>
  
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

  </body>
  
  </html>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
  
    $('#employee_report').attr("class", "active")
    $("#reports").attr("class", "active")
    $(document).ready(function () {
  
      $('#employee_table').DataTable({
  
        dom: 'lBfrtip',
        buttons: [{
          extend: 'excelHtml5',
          text: 'Export to Excel',
          title: 'example',
        }
        ]
      });
    });
  
    function search_filter() {
      var start_date = $("#start_date").val()
      var end_date = $("#end_date").val()

      console.log(start_date)
      console.log(end_date)

      $.ajax({
        method: "POST",
        url: "/search/",
        data: {
          'start_date': start_date,
          'end_date': end_date,  
        },
        success: function (response) {
          $("#loading").hide();
          console.log(response)
          if (response['status'] == 1) {            
            $('.containertable').html("")
            $('.containertable').html(response.data)
            $('#view_table').DataTable()
            
          }
          else {
            $('.containertable').html("")
            $('.containertable').html(response.data)
            $('#view_table').DataTable()
  
          }
  
  
        }
      });
  
    }
  
    $('#employee_report').attr("class", "active")
    $("#reports").attr("class", "active")
    $(document).ready(function () {
  
      $('#employee_table').DataTable({
  
        dom: 'lBfrtip',
        buttons: [{
          extend: 'excelHtml5',
          text: 'Export to Excel',
          title: 'example',
        }
        ]
      });
    });
  
  
  
    function delete_book(id) {
      console.log(id)
      swal({
        title: "Are you sure?",
        text: "",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
        .then((willDelete) => {
          if (willDelete) {
            $.ajax({
              method: "POST",
              url: "/Delete_book/",
              data: {
                'id': id
              },
              success: function (response) {
                if (response == "success") {
                  swal("Book has been Deleted!", {
                    icon: "success",
                    button: "Ok",
                    closeOnClickOutside: false,
                  }).then(function () {
                    location.reload();
                  });
                }
              }
            });
          }
        });
    }
  
    $(document).ready(function () {
      $('#employee_view').addClass("active");
      $('#view_table').DataTable();
    });
  
  
    function login() {
      var employee_name = $('#employee_name').val()
      var code = $('#code').val()
      var branch_name = $('#branch').val()
  
  
      console.log(branch)
  
      if (employee_name == "") {
        swal({
          title: "Please add employee name.",
          icon: "info",
          button: "Ok",
          closeOnConfirm: false,
          closeOnClickOutside: false,
        }).then(function () {
  
        })
      }
  
      else if (code == "") {
        swal({
          title: "Please add employee code.",
          icon: "info",
          button: "Ok",
          closeOnConfirm: false,
          closeOnClickOutside: false,
        }).then(function () {
  
        })
  
      }
  
      else if (branch_name == "") {
        swal({
          title: "Please select store name.",
          icon: "info",
          button: "Ok",
          closeOnConfirm: false,
          closeOnClickOutside: false,
        }).then(function () {
  
        })
  
      }
  
      else {
        $.ajax({
          method: "POST",
          url: "/add_employee_details/",
          data: {
            'employee_name': employee_name,
            'branch': branch_name,
            'code': code,
          },
          success: function (response) {
            console.log(response)
  
            if (response == "success") {
              $("#exampleModal").modal('hide');
              swal({
                title: "Employee Added Successfully!",
                icon: "success",
                button: "Ok",
                closeOnConfirm: false,
                closeOnClickOutside: false,
              }).then(function () {
                location.reload()
              })
            }
            else {
              swal({
                title: "Employee Code Already Exists!",
                icon: "info",
                button: "Ok",
                closeOnConfirm: false,
                closeOnClickOutside: false,
              }).then(function () {
  
              })
  
            }
  
          }
        });
      }
  
    }
  
  
  
  
    function edit_employee(id, emaployee_name, emaployee_code, store_name) {
  
  
      $("#employee_id").val(id)
      $("#name_employee").val(emaployee_name)
      $("#code_employee").val(emaployee_code)
  
      $("#branch_name").val(store_name)
      $("#exampleModal_2").modal('show');
  
    }
  
    function update_emplyee() {
      var employee_id = $('#employee_id').val()
      var name_employee = $('#name_employee').val()
      var code_employee = $('#code_employee').val()
      var branch_name = $('#branch_name').val()
  
      if (name_employee == "") {
        swal({
          title: "Please add employee name.",
          icon: "info",
          button: "Ok",
          closeOnConfirm: false,
          closeOnClickOutside: false,
        }).then(function () {
  
        })
      }
      else if (code_employee == "") {
        swal({
          title: "Please add employee code.",
          icon: "info",
          button: "Ok",
          closeOnConfirm: false,
          closeOnClickOutside: false,
        }).then(function () {
  
        })
  
      }
  
      else {
  
        $.ajax({
          method: "POST",
          url: "/edit_emplyee/",
          data: {
            'employee_id': employee_id,
            'name_employee': name_employee,
            'code_employee': code_employee,
            'branch_name': branch_name,
          },
          success: function (response) {
            console.log(response)
            $("#exampleModal_2").modal('hide');
            $('#name_employee').val("")
            $('#code_employee').val("")
            $('#branch_name').val("")
  
            swal({
              title: "Employee Updated Successfully!",
              icon: "success",
              button: "Ok",
              closeOnConfirm: false,
              closeOnClickOutside: false,
            }).then(function () {
              location.reload()
            })
  
  
  
          }
        });
  
      }
    }
  
  
  
    function delete_employee(id) {
      console.log(id)
      swal({
        title: "Are you sure to delete this user?",
        text: "",
        icon: "warning",
        buttons: true,
        dangerMode: true,        
      }).then((willDelete) => {
          if (willDelete) {
            $.ajax({
              method: "POST",
              url: "/Delete_employee/",
              data: {
                "id": id
              },
  
              success: function (response) {
                if (response == "success") {
                  swal("data has been deleted", {
                    icon: 'success',
                    button: "ok",
                    closeOnClickOutside: false,
  
                  }).then(function () {
                    location.reload();
                  });
                }
              }
            });
          }
        });
    }
  
  
  
  
  
  </script>
  
  {% include "layout/footer.html" %}
