<style>
    .btn-group-vertical>.btn,
    .btn-group>.btn {
      position: relative;
      -ms-flex: 1 1 auto;
      -webkit-box-flex: 1;
      flex: 1 1 auto;
      width: 140px;
      margin-bottom: -25px;
    }
  </style>
  
  {% load static %}

  {% include "layout/header.html" %}
    <!-- Main Content -->
  <div class="main-content">
    <section class="section">
  
      <div class="section-body">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <ul class="breadcrumb breadcrumb-style" style="margin-bottom: 0px;;">
                      <li class="breadcrumb-item">
                        <h4 class="page-title m-b-0">Book Details</h4>
                      </li>
                      <li class="breadcrumb-item">
  
  
                        <!-- <a href="/dashboard/">
                          <button type="button" class="btn btn-primary btn-sm">Back</button></a> -->
  
  
  
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-6 pull-right" style="margin-top: 7px;">
  
                    <a href="/Salary_page/" class="btn btn-icon btn-primary pull-right"> Add New Book</a>
                  </div>
                </div>
                <hr>
                <br>
  
  
                <div class="row">
                  <div class="col-12">
                    <div class="row">
  
  
                      <div class="col-md-3">
                        <div class="form-group">
                          <label>Start Date <span style="color:red">*</span>:</label>
                          <div class="input-group">
                            <input type="date" class="form-control" value="{{first_date|date:'Y-m-d'}}" id="first_date">
                          </div>
                        </div>
                      </div>
  
  
                      <div class="col-md-3">
                        <div class="form-group">
                          <label>End Date <span style="color:red">*</span>:</label>
                          <div class="input-group">
                            <input type="date" class="form-control" value="{{last_date|date:'Y-m-d'}}" id="last_date">
                          </div>
                        </div>
                      </div>
  
  
   
  
  
  
  
  

                      <div class="col-md-1">
                        <div class="form-group">
                          <div class="buttons">
                            <a type="button" class="btn btn-primary btn-sm" style="margin-top: 45%;" onclick="date_book_search_filter()">search</a>
                          </div>
                        </div>
                      </div> 
  
  
                    </div>
                  </div>
                </div>
  
  
  
  
  
                <div id="table_div">
  
  
                  <div class="table-responsive containertable">
                    <table class="table table-hover" id="view_table">
                      <thead>
                        <tr>
                          <th class="text-center"> Id </th>
                          <th>Employee_Name    </th>
                          <th>destination     </th>
                          <th>yearly_package   </th>
                          <th>monthly_salary   </th>
                          <th>Designation   </th>
                          <th>Action         </th>
  
  
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in obj_emp %}
                        <tr>
                            <th scope="row">{{ i.id }}</th>
                            <td>{{ i.Employee_Name.Employee_Name }}</td>  <!-- Fix: Use i.Employee_Name instead of iEmployee_Name -->
                            <td>{{ i.destination }}</td>
                            <td>{{ i.yearly_package }}</td>
                            <td>{{ i.monthly_salary }}</td>
                            <td>{{ i.Designation }}</td>
                    
                            <td>
                                <a style="background-color: blue;" class="btn btn-outline-primary" href="/edit_emp_details/{{ i.id }}"><i style="color: aliceblue;" class="fas fa fa-edit"
                                        aria-hidden="true"></i></a>
                                <a type="button" class="btn btn-outline-dark" onclick="delete_emp_detail('{{ i.id }}')"><i
                                        class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                   </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    function delete_emp_detail(id) {
      debugger;
      console.log(id)
      swal({
        title: "Are you sure?",
        text: "delete",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
        .then((willDelete) => {
          if (willDelete) {
            $.ajax({
              method: "POST",
              url: "/delete_emp_detail/",
              data: {
                'id': id
              },
              success: function (response) {
                if (response == "success") {
                  swal("entry has been Deleted!", {
                    icon: "success",
                    button: "Ok",
                    closeOnClickOutside: false,
                  }).then(function () {
                    location.reload();
                  });
                }
              }
            });
          }
        });
    }





  </script>



  {% include "layout/footer.html" %}
