<!DOCTYPE html>
{% load static %}

{% include "layout/header.html" %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">


</head>

<body style="background-color: #fdfcfc03;">
  <div class="main-content">
    <section class="section">


      <div class="section-body">
        <div class="row">
          <div class="col-lg-2">
          </div>
          <div class="col-lg-7">
            <div class="card">
              <div class="card-body">
                <ul class="breadcrumb breadcrumb-style " style="background: #f3f3f3;">
                  <li class="breadcrumb-item">
                    <h5 class="page-title m-b-0">Add New Request</h5>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="/issue_book/">
                      <i class="fas fa-home"></i></a>
                  </li>
                </ul>

                <form action="" method="get" id='new_user_form' style="margin: 25 px auto" ;>




                  <div class="form-group">
                    <label>Book Name</label>

                    <select id="Book_Name" class="form-control">
                      <option value="Book_Name" selected hidden>Book Name</option>

                      {% for i in obj_book %}
                      <option value="{{i.id}}">{{i.Book}}</option>
                      {% endfor %}
                    </select>

                  </div>

                  <label for="Student_Name">Student Name</label>
                  <input type="text" id="Student_Name" class="form-control"
                    name="Student_Name" tabindex="1" placeholder="Student Name"><br>

                  <label for="Stu_Class">Student Class</label>
                  <input type="number" id="Stu_Class" class="form-control" name="Stu_Class"
                    tabindex="1" placeholder="Stu Class"><br>

                  <label for="Section">Section:</label>
                  <input type="text" id="Section" class="form-control" name="Section"
                    tabindex="1" required autofocus placeholder="section"> <br>

                  <input type="hidden" id="issue_id" class="form-control" name="Price"
                    tabindex="1" required autofocus> <br>


                  <label for="Email">Email:</label>
                  <input type="Email" id="Email" class="form-control" name="Email" tabindex="1"
                    required autofocus placeholder="email"> <br>

                  <label for="Issue_Date">Issue date:</label>

                  <input type="date" id="Issue_Date" class="form-control" name="trip-start"
                    min="2024-01-01">

                  <label for="Till_Date">Till date:</label>
                  <input type="date" id="Till_Date" class="form-control" name="trip-end"
                    min="2024-01-01">
                  <br> <br>



                  <label for="Condition">Condition:</label>

                  <select name="Condition" id="Condition"class="form-control">
                    
                    <option value="old">Old</option>
                    <option value="new">New</option>
                    <option value="average">Average</option>

                  </select> <br> <br>


                  <div class="form-group">
                    <label>Images select:</label>
                    <input type="file" id="img" class="form-control" name="img" accept="img/*">
                  </div>

                  <div class="form-group">
                    <label>Request Generated by</label>

                    <select id="Request_genrated_by" class="form-control">
                      <option value="Request_genrated_by" selected hidden>Request Generated by</option>


                      {% for i in obj_user %}
                      <option value="{{i.id}}">{{i.Employee_Name}}</option>
                      {% endfor %}
                    </select>


                  </div>

                  <div>
                    {% if type == "add_book" %}
                    <center>
                      <button type="button" type="submit" class="btn btn-success" value="save"
                        onclick="request_book()">Save </button>
                    </center>

                    {% else %}
                    <center>
                      <button type="button" type="submit" class="btn btn-success" value="save"
                        onclick="modify_issue_book()">modify </button>
                    </center>
                    {% endif %}
                  </div>



                  </br>
                  <!-- <div> -->
                  <!-- <a href="#" class="txt1"> -->
                  <!-- Add details -->
                  <!-- </a> -->
                  <!-- </div> -->

              </div>
            </div>
          </div>

        </div>
    </section>

  </div>
  </div>
</body>
<script>



  $(document).ready(function () {
    $(document).bind('keypress', function (e) {
      if (e.keyCode == 13) {
        $('#save_button').trigger('click');
      }
    });
  })



  function request_book() {
    var Book_Name = $('#Book_Name').val()
    var Student_Name = $('#Student_Name').val()
    var Stu_Class = $('#Stu_Class').val()
    var Section = $('#Section').val()
    var Email = $('#Email').val()
    var Issue_Date = $('#Issue_Date').val()
    var Till_Date = $('#Till_Date').val()
    // var Charge=$('#Charge').val()
    var Condition = $('#Condition').val()
    var img = $('#img').val()
    var Request_genrated_by = $('#Request_genrated_by').val()





    console.log(Book_Name)
    console.log(Student_Name)
    console.log(Stu_Class)
    console.log(Section)
    console.log(Email)
    console.log(Issue_Date)
    console.log(Till_Date)
    // console.log(Charge)
    console.log(Condition)
    console.log(img)
    console.log(Request_genrated_by)


    var form = $("#form_data")[0];
    var data_item = new FormData(form);
    data_item.append("Book_Name", Book_Name)
    data_item.append("Student_Name", Student_Name)
    data_item.append("Stu_Class", Stu_Class)
    data_item.append("Section", Section)
    data_item.append("Email", Email)
    data_item.append("Issue_Date", Issue_Date)
    data_item.append("Till_Date", Till_Date)
    // data_item.append("Charge",Charge)
    data_item.append("Condition", Condition)
    data_item.append("img", document.getElementById("img").files[0])
    data_item.append("Request_genrated_by", Request_genrated_by)


    $.ajax({
      method: "POST",
      url: "/book_request/",
      enctype: "mutipart/form_data",
      processData: false,
      contentType: false,
      cache: false,
      data: data_item,
      success: function (response) {

        
        if (response == "success") {

          alert("Data store")

          location.href = '/issue_book/'

        }

        else {

          alert("User already requested")

        }


      }

    });
  }
  // }
</script>

<script>
 </script>

</html>
{% include "layout/footer.html" %}